body {
  scroll-behavior: smooth;
  margin: 0;
}

/* Header Styles */
header {
  background-color: #ffafcc;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  padding: 50px;
}

.title-bar {
  text-align: center;
  font-size: 100px;
  color: #081c15;
}

/* Navigation Styles */
.nav-links {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 25px;
  background-color: azure;
  border-radius: 50px;
  max-width: 350px;
  margin: 30px auto;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links a {
  color: #1b4332;
  border-right: 1px solid #333;
  padding-right: 10px;
}

.nav-links a:last-child {
  border-right: none;
}

/* Home Section Styles */
.home-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 250px;
  background-color: #cdb4db;
}

.image {
  border-radius: 50%;
}

.name {
  font-size: 75px;
  font-weight: bold;
  font-family: Verdana;
  color: #081c15;
}

.desc {
  font-size: 30px;
  font-family: Arial;
}

.x {
  color: #2d6a4f;
}

.y {
  color: #40916c;
}

/* About Section Styles */
.about-section {
  align-items: center;
  padding: 80px;
  background-color: #a2d2ff;
  text-align: center;
}

.abt {
  background-color: azure;
  border-radius: 30px;
  max-width: 600px;
  margin: 20px auto;
  padding: 80px;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.heading1 {
  font-size: 30px;
  font-family: Georgia;
}

/* Social Media Links Styles */
.social-media-links {
  position: absolute;
  top: 20px;
  right: 20px;
}

.social-media-links a {
  display: inline-block;
}

.social-media-links img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

/* Skills Section Styles */
.skills-section {
  background-color: #a2d2ff;
  text-align: center;
  padding: 130px;
  color: black;
}

.skills {
  background-color: #a2d2ff;
  padding: 20px;
  font-family: sans-serif;
  font-size: 25px;
  color: #006400;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.skill-name {
  font-weight: bold;
  color: black;
  font-size: 30px;
}

.skill-bar {
  background-color: black;
  height: 20px;
  border-radius: 10px;
  flex-grow: 1;
  margin-left: 10px;
  position: relative;
}

.skill-level {
  height: 100%;
  border-radius: 10px;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.5s ease-in-out;
}

/* Contact Section Styles */
.contact-section {
  background-color: #a2d2ff;
  text-align: right;
  padding: 80px;
  color: lemonchiffon;
}

.contact {
  background-color: #a2d2ff;
  padding: 40px;
  font-family: sans-serif;
  font-size: 25px;
  color: black;
}

.mail {
  color: darkcyan;
}

.heading2 {
  color: black;
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
  body {
    padding: 10px;
    margin: 0;
  }

  header {
    padding: 20px;
  }

  .nav-links {
    font-size: 20px;
  }

  .home-section {
    flex-direction: column;
    padding: 20px;
  }

  .name {
    font-size: 40px;
  }

  .desc {
    font-size: 20px;
  }

  .image {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }

  .abt {
    font-size: 20px;
    padding: 20px;
  }

  .contact {
    font-size: 20px;
    padding: 20px;
  }
}
