body {
  scroll-behavior: smooth;
  margin: 0;
}

/* Header Styles */
header {
  background-color: cadetblue;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  padding: 50px;
}

.title-bar {
  text-align: center;
  font-size: 70px;
}

/* Navigation Styles */
.nav-links {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 25px;
  background-color: azure;
  border-radius: 50px;
  max-width: 350px;
  margin: 30px auto;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links a {
  color: black;
  border-right: 1px solid #333;
  padding-right: 10px;
}

.nav-links a:last-child {
  border-right: none;
}

/* Home Section Styles */
.home-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 200px;
  background-color: darkslategrey;
}

.image {
  border-radius: 50%;
}

.name {
  font-size: 50px;
  font-weight: bold;
  font-family: Verdana;
  color: lightpink;
}

/* About Section Styles */
.desc {
  font-size: 30px;
  font-family: Arial;
}

.x {
  color: lightcyan;
}

.y {
  color: darkseagreen;
}

/* About Section Styles */
.about-section {
  align-items: center;
  padding: 80px;
  background-color: darkslategrey;
  text-align: center;
}

.abt {
  background-color: azure;
  border-radius: 30px;
  max-width: 600px;
  margin: 20px auto;
  padding: 80px;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.heading {
  font-size: 30px;
  font-family: Georgia;
}

/* Contact Section Styles */
.contact-section {
  background-color: darkslategrey;
  text-align: left;
  padding: 80px;
  color: lemonchiffon;
}

.contact {
  background-color: darkslategrey;
  padding: 40px;
  font-family: sans-serif;
  font-size: 25px;
  color: lightcyan;
}

.mail {
  color: lightgreen;
}

/* Social Media Links Styles */
.social-media-links {
  position: absolute;
  top: 20px;
  right: 20px;
}

.social-media-links a {
  display: inline-block;
}

.social-media-links img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
  body {
    padding: 10px; 
    margin: 0;
  }

  header {
    padding: 20px; 
  }

  .nav-links {
    font-size: 20px; 
  }

  .home-section {
    flex-direction: column; 
    padding: 20px; 
  }

  .name {
    font-size: 40px; 
  }

  .desc {
    font-size: 20px; 
  }

  .image {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }

  .abt {
    font-size: 20px; 
    padding: 20px; 
  }

  .contact {
    font-size: 20px; 
    padding: 20px;
  }
}